@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #632ee3;
  --color-secondary: #9f62f2;
  --color-darkblack: 001931;
}
